div.container {
	width: 100%;
	margin:0px;
	border:1px solid gray;
	line-height:150%;
}

div.header, div.footer {
	padding:0.5em;
	color:white;
	background-color:gray;
	clear:left;
}


div.left {
	float:left;
	width:160px;
	margin:0;
	padding:1em;
}

div.content {
	min-height: 80%;
	margin-left:190px;
	border-left:1px solid gray;
	padding:1em;
}